body{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


h1{
    text-align: center;   
}
.questions{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

button{
    background-color: green;
    color: white;
    border-style: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
}
button:hover{
    opacity: 95%;
    cursor: pointer;
}

input{
    border-radius: 0.2rem;
    height: 1.6rem;
}